- var headlineClasses = ['project-hero__headline', 'project-hero_headline_secondary']
//include partials/hero
// Later when bug fixed, add hero as block/extend
include ./../partials/header
include ./../partials/primary-nav
body
	//- include partials/primary-nav
	main

		article.project-hero.hero_background_vivcor
			img(class='full-width project-hero__img' src=require("./../../assets/images/openknowledge-header.png"))
			h2(class=headlineClasses) Open Knowledge
			div.dots

		article.content
			aside.highlights
				.highlights__grid
					.titleA
						h3.highlights__title Contributions
					.highlights__list.dataA
						ul
							each item in ["Product Management", "Design", "Client Acquisition", "User Support"]
								li.highlights__skill.p=item
					.titleB
						h3.highlights__title Main Skills
					.highlights__list.dataB
						// TO DO: Data integration. Why is the "each" printing each letter?
						//ul
						// 	each item in `${data.projectSkills}`
						// 		li=item
						ul
							each item in ["Product Design", "UX Research", "Project Management", "Strategy", "Public Speaking"]
								li.highlights__skill.p=item
			section.project-writeup
				.project-md
					include:markdown-it(linkify html typographer) ./../../assets/data/Open-Knowledge.md
	include ./../partials/footer


